#categoryColumn {
	display: flex;
	flex-direction: column;
	width: 40px;
	padding-top: 20px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#categoryTitle {
	background-color: blue;
	color: gold;
}

.box {
	background-color: blue;
	color: yellow;
	border-color: red;
	border-style: solid;
	width: 100px;
	height: 60px;
	text-align: center;
	font-weight: bold;
}

body {
	background-color: green;
	display: flex;
	flex-direction: row;
}

#gameboard {
	width: 100%;
	padding: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

h3 {
	color: white;
	font-size: 15px;
}

header {
	text-align: center;
	width: 100%;
	padding-top: 40px;
}